<div class="wrapper skin-black sidebar-mini" ng-class="{'sidebar-open': !!ctrl.navService.showSidebar, 'sidebar-collapse': !ctrl.navService.showSidebar}">
  <toast></toast>

  <header class="main-header">
    <!-- Logo -->
    <a ui-sref="root.landing" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>PO</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Positon</b> <i>Overview</i></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation" ng-cloak>
      <a class="sidebar-toggle" role="button" data-toggle="offcanvas" href="#" ng-click="ctrl.navService.toggleSidebar()">
        <span class="sr-only">Toggle navigation</span>
      </a>
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li ng-repeat="link in ctrl.navService.getLinks('dashboard')" ng-class="{ active: ctrl.navService.isActive(link.state) }" ng-show="!link.label.edit || (ctrl.currentUser && !ctrl.currentUser.disallowUpdates)">
          <a ng-click="ctrl.navService.gotoLink(link)"><i class="fa" ng-class="link.label.navClass"></i> <span>{{ link.label.text }}</span></a>
        </li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper" style="min-height:800px">
    <message-board msg="ctrl.messageBoardService.message()"></message-board>
    <div ng-hide="ctrl.messageBoardService.message()">
      <ui-view></ui-view>
    </div>
  </div>


</div>
